<div class="add-users-container">
  <h2>Add Users</h2>

  @for (userForm of addUserForm.controls; track $index) {
  <div class="add-users-single-user" [formGroup]="userForm">
    <div class="add-users-field">
      <label [for]="'username-' + $index"> Username </label>
      <input
        [id]="'username-' + $index"
        [formControl]="userForm.controls.username"
      />
    </div>

    <label class="add-users-dropdown">
      <span> Roles </span>
      <app-dropdown
        [items]="roles"
        [placeholder]="'Select a role'"
        [formControl]="userForm.controls.role"
      ></app-dropdown>
    </label>

    <!-- Disallows removing the first user to ensure there is always at least 1 added -->
    @if($index !== 0) {
    <button class="add-users-action-button" (click)="remove($index)">
      <b> - Remove this user </b>
    </button>

    }
  </div>
  }

  <button class="add-users-action-button" (click)="addNewUser()">
    <b> + Add additional user </b>
  </button>

  <button class="add" (click)="submit()">Submit</button>
</div>
