<div class="view-users-filters-container">
  <h2>View Users</h2>
  <p>
    Here you can view all the users in the system. You can filter them by
    username and role.
  </p>
  <p>
    Double click on a field if you want to edit the details. The user needs to
    be enabled to be edited.
  </p>
  <div class="view-users-actions">
    <a routerLink="/manage-users/add">Add Users</a>

    <div class="view-users-filter-container">
      <input
        placeholder="filter by a username"
        [(ngModel)]="usernameFilterValue"
        (ngModelChange)="search()"
      />

      <app-dropdown
        class="view-users-filter-by-role"
        [items]="roles"
        [placeholder]="'filter by a role'"
        [required]="true"
        [(ngModel)]="roleFilterValue"
        (ngModelChange)="search()"
      >
      </app-dropdown>
    </div>
  </div>

  <ag-grid-angular
    class="view-users-table ag-theme-quartz"
    [rowData]="rowData | async"
    [columnDefs]="colDefs"
    [gridOptions]="gridOptions"
  />
</div>
