.view-users-filters-container {
  flex-direction: column;
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: space-between;

  .view-users-table {
    height: 100%;
  }

  .view-users-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .view-users-filter-by-role {
      margin-left: 5px;
    }
  }
}
