.view-users-filters-container {
  flex-direction: row;
  display: flex;
  margin-bottom: 20px;
  .view-users-filter-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.view-users-table {
  height: 80%;
  width: 100%;
}
