.app-body-container {
  margin-left: 10%;
  margin-right: 10%;
  height: 92vh;
}

.app-header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(20, 119, 177);
  border-bottom: 1px solid #e9ecef;
  color: white;

  a:visited,
  a:link,
  a:active {
    color: white;
    text-decoration: none;
  }
}
